/* .headerPresta {
    background: #2489ff;
    border: 1px solid #000000;
    border-radius: 20px 20px 0px 0px;
    height: 7.5vh;
    width: 90%;
    margin: 1% auto 0 auto;
}

.titrePanier {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: #ffffff;
    text-align: start;
    font-size: 35px;
} */