.footer {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #525252;
    color: #FFFFFF;
    left: 0;
    padding-left: 2em;
    padding-right: 2em;
    bottom: 0;
    min-width: 97%;
    width: 1fr;
    height: 5vh;
}



.linkedin{
    color:#FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
}