.formulaireInscriptionDeux {
  height: 148vh;
  width: 75vw;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.253);
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

.devenirPresta {
  font-weight: bold;
  font-size: 1.7em;
  margin-top: 1%;
  margin-bottom: -3%;
}

.formInscriptionDeux {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  margin-top: 4%;
}

.labelInscription {
  font-weight: bold;
  font-size: 1.3em;
  margin-left: 4%;
  text-align: left;
}

.inputInscription {
  border: 0.7px solid black;
  border-radius: 10px;
  background-color: #d9d9d9;
  height: 6.5vh;
  width: 92.3%;
  margin: 0.5% auto 1% auto;
  font-size: 1.2em;
}

.inputLogo {
  height: 30vh;
  border: 2px dashed black;
  background-image: url("../../public/images/telecharger.png");
  background-position: center;
}

.inputDescription {
  height: 20vh;
  font-size: 1.6em;
}

.inputBottom {
  height: 9vh;
}

.labelFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 37vh;
}

.inputFlex {
  width: 31vw;
}

.boutonTerminer {
  background-color: #0b71d9;
  color: white;
  height: 7vh;
  width: 20%;
  min-width: 130px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.253);
  margin: 1% auto 4% auto;
  font-size: 1.2em;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .formulaireInscriptionDeux {
    height: 128vh;
  }

  .labelFlex {
    height: 34vh;
  }

  .inputLogo {
    height: 20vh;
    background-size: 250%;
    background-repeat: no-repeat;

  }

  .inputDescription {
    height: 14vh;
    font-size: 1.6em;
  }
}