.headerConnection {
  position: relative;
  height: 10vh;
  width: 99.8vw;
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.253);
}

.arrowVisible {
  position: absolute;
  cursor: pointer;
  font-size: 2em;
  margin-left: 1%;
}

.arrowNonVisible {
  font-size: 2em;
  margin-left: 1%;
  display: none;
}

.ultraMotion {
  color: #0b71d9;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 35%;
  margin-right: 2.5%;
}

.separation {
  height: 75%;
  width: 0.11%;
  background-color: #0b71d9;
  margin-right: 2.5%;
}

.shield {
  color: #0b71d9;
  font-size: 1.8em;
  margin-right: 0.5%;
}

.texte {
  color: #0b71d9;
  font-weight: bold;
  font-size: 1.5em;
}
