.headerConnection {
  position: relative;
  height: 10vh;
  width: 99.8vw;
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.253);
}

.arrowVisible {
  position: absolute;
  cursor: pointer;
  font-size: 2em;
  margin-left: 1%;
}

.arrowNonVisible {
  font-size: 2em;
  margin-left: 1%;
  display: none;
}

.headercontainer {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.ultraMotion {
  color: #0b71d9;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: -1.74%;
}

.separation {
  height: 75%;
  width: 3px;
  min-width: 3px;
  background-color: #0b71d9;
  margin-left: 1.5%;
  margin-right: 1.58%;
}

.shield {
  color: #0b71d9;
  font-size: 1.8em;
}

.icone {
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5%;
}

.texte {
  color: #0b71d9;
  font-weight: bold;
  font-size: 1.5em;
}

@media screen and (max-width: 480px) {

  .ultraMotion {
    font-size: 1.2em;
  }

  .shield {
    font-size: 1.5em;
  }

  .texte {
    font-size: 1.2em;
  }
}